#banner {
    display: flex;
    background-color: #ffbd59;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    padding: 10px 40px;
}

#titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2 {
    margin:0;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.navbar-link {
    font-size: 1.4rem; 
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 10px;
}

.navbar-link:hover {
  background-color: #ffbd59;
  transition: background-color 500ms ease-in-out;
}

#avatar {
  height: 90%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right:10px;
}

#avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

#links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
