.title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cards-container-parcours {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center; 
    padding: 20px;
}

.life-step {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.flip-card:hover .life-step {
  transform: rotateY(180deg);
}

.step-dates,
.step-description {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 10px;
}

.step-description {
    transform: rotateY(180deg);
}